# WHO Data Set

In [1]:
#import WHO dataset
import pandas as pd
WHO_df = pd.read_csv('Master_Folder/WHO_Data/WHOMortalityDatabase_Map_a. Malignant skin melanoma_19th December 2023 23 17.csv', skiprows = 5, index_col=False)
WHO_df.head()

,Region Code,Region Name,Country Code,Country Name,Year,Sex,Age group code,Age Group,Number,Percentage of cause-specific deaths out of total deaths,Age-standardized death rate per 100 000 standard population,Death rate per 100 000 population
0,EU,Europe,ALB,Albania,1987,All,Age_all,[All],22.0,0.126977,1.036609,0.715191
1,EU,Europe,ALB,Albania,1987,All,Age00,[0],0.0,0.000000,NaN,0.000000
2,EU,Europe,ALB,Albania,1987,All,Age01_04,[1-4],0.0,0.000000,NaN,0.000000
3,EU,Europe,ALB,Albania,1987,All,Age05_09,[5-9],0.0,0.000000,NaN,0.000000
4,EU,Europe,ALB,Albania,1987,All,Age10_14,[10-14],0.0,0.000000,NaN,0.000000

In [2]:
WHO_df.columns

Index(['Region Code', 'Region Name', 'Country Code', 'Country Name', 'Year',
       'Sex', 'Age group code', 'Age Group', 'Number',
       'Percentage of cause-specific deaths out of total deaths',
       'Age-standardized death rate per 100 000 standard population',
       'Death rate per 100 000 population'],
      dtype='object')

In [3]:
#data type for each column
WHO_df.dtypes

Region Code                                                     object
Region Name                                                     object
Country Code                                                    object
Country Name                                                    object
Year                                                             int64
Sex                                                             object
Age group code                                                  object
Age Group                                                       object
Number                                                         float64
Percentage of cause-specific deaths out of total deaths        float64
Age-standardized death rate per 100 000 standard population    float64
Death rate per 100 000 population                              float64
dtype: object

In [4]:
#check for null values
WHO_df.count()

Region Code                                                    183036
Region Name                                                    183036
Country Code                                                   183036
Country Name                                                   183036
Year                                                           183036
Sex                                                            183036
Age group code                                                 183036
Age Group                                                      183036
Number                                                         182340
Percentage of cause-specific deaths out of total deaths        177031
Age-standardized death rate per 100 000 standard population      8580
Death rate per 100 000 population                              170424
dtype: int64

In [5]:
#list columns with null values
WHO_df.columns[WHO_df.isna().any()].tolist()

['Number',
 'Percentage of cause-specific deaths out of total deaths',
 'Age-standardized death rate per 100 000 standard population',
 'Death rate per 100 000 population']

In [6]:
WHO_df.loc[:, WHO_df.isna().any()]

,Number,Percentage of cause-specific deaths out of total deaths,Age-standardized death rate per 100 000 standard population,Death rate per 100 000 population
0,22.0,0.126977,1.036609,0.715191
1,0.0,0.000000,NaN,0.000000
2,0.0,0.000000,NaN,0.000000
3,0.0,0.000000,NaN,0.000000
4,0.0,0.000000,NaN,0.000000
...,...,...,...,...
183031,16.0,0.102512,NaN,3.340592
183032,13.0,0.074269,NaN,4.044804
183033,16.0,0.100288,NaN,9.174312
183034,20.0,0.078052,NaN,27.331365
183035,0.0,0.000000,NaN,NaN

In [7]:
#drop column include null values
WHO_df.dropna(subset = ['Number', 'Percentage of cause-specific deaths out of total deaths', 'Death rate per 100 000 population'], inplace=True)

In [8]:
#conform whether null values are drop
WHO_df.count()

Region Code                                                    170156
Region Name                                                    170156
Country Code                                                   170156
Country Name                                                   170156
Year                                                           170156
Sex                                                            170156
Age group code                                                 170156
Age Group                                                      170156
Number                                                         170156
Percentage of cause-specific deaths out of total deaths        170156
Age-standardized death rate per 100 000 standard population      8580
Death rate per 100 000 population                              170156
dtype: int64

In [9]:
#check unique countries
WHO_df["Country Name"].unique().tolist()

['Albania',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Bosnia and Herzegovina',
 'Brazil',
 'Brunei Darussalam',
 'Bulgaria',
 'Cabo Verde',
 'Canada',
 'Chile',
 'Colombia',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czechia',
 'Denmark',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Estonia',
 'Fiji',
 'Finland',
 'France',
 'French Guiana',
 'Georgia',
 'Germany',
 'Greece',
 'Grenada',
 'Guadeloupe',
 'Guatemala',
 'Guyana',
 'China, Hong Kong SAR',
 'Hungary',
 'Iceland',
 'Iran (Islamic Republic of)',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Kazakhstan',
 'Republic of Korea',
 'Kuwait',
 'Kyrgyzstan',
 'Latvia',
 'Lithuania',
 'Luxembourg',
 'Maldives',
 'Malta',
 'Martinique',
 'Mauritius',
 'Mayotte',
 'Mexico',
 'Republic of Moldova',
 'Mongolia',
 'Montenegro',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'North Macedonia',
 'Norway',
 'Panama',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'R?union',
 'Romania',
 'Russian Federation',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Sao Tome and Principe',
 'Serbia',
 'Seychelles',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'South Africa',
 'Spain',
 'Sri Lanka',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Thailand',
 'Trinidad and Tobago',
 'T?rkiye',
 'Turkmenistan',
 'Ukraine',
 'United Kingdom of Great Britain and Northern Ireland',
 'United States of America',
 'Uruguay',
 'Uzbekistan',
 'Venezuela (Bolivarian Republic of)',
 'Jordan',
 'United Arab Emirates',
 'Lebanon',
 'Malaysia',
 'Oman',
 'Qatar',
 'Tajikistan']

In [10]:
#replace "T?rkiye" with Turkey
WHO_df = WHO_df.replace("T?rkiye", "Turkey")
WHO_df["Country Name"].unique().tolist()

['Albania',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Bosnia and Herzegovina',
 'Brazil',
 'Brunei Darussalam',
 'Bulgaria',
 'Cabo Verde',
 'Canada',
 'Chile',
 'Colombia',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czechia',
 'Denmark',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Estonia',
 'Fiji',
 'Finland',
 'France',
 'French Guiana',
 'Georgia',
 'Germany',
 'Greece',
 'Grenada',
 'Guadeloupe',
 'Guatemala',
 'Guyana',
 'China, Hong Kong SAR',
 'Hungary',
 'Iceland',
 'Iran (Islamic Republic of)',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Kazakhstan',
 'Republic of Korea',
 'Kuwait',
 'Kyrgyzstan',
 'Latvia',
 'Lithuania',
 'Luxembourg',
 'Maldives',
 'Malta',
 'Martinique',
 'Mauritius',
 'Mayotte',
 'Mexico',
 'Republic of Moldova',
 'Mongolia',
 'Montenegro',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'North Macedonia',
 'Norway',
 'Panama',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'R?union',
 'Romania',
 'Russian Federation',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Sao Tome and Principe',
 'Serbia',
 'Seychelles',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'South Africa',
 'Spain',
 'Sri Lanka',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Thailand',
 'Trinidad and Tobago',
 'Turkey',
 'Turkmenistan',
 'Ukraine',
 'United Kingdom of Great Britain and Northern Ireland',
 'United States of America',
 'Uruguay',
 'Uzbekistan',
 'Venezuela (Bolivarian Republic of)',
 'Jordan',
 'United Arab Emirates',
 'Lebanon',
 'Malaysia',
 'Oman',
 'Qatar',
 'Tajikistan']

In [11]:
# #remove square bracket from "age group" column
# WHO_df['Age Group'] = WHO_df['Age Group'].str.strip('[]')
# WHO_df.head()

In [12]:
WHO_df['Age group code'] = WHO_df['Age group code'].str.replace('Age','')
WHO_df['Age group code'] = WHO_df['Age group code'].str.replace('_all','Age all')
WHO_df.head()

,Region Code,Region Name,Country Code,Country Name,Year,Sex,Age group code,Age Group,Number,Percentage of cause-specific deaths out of total deaths,Age-standardized death rate per 100 000 standard population,Death rate per 100 000 population
0,EU,Europe,ALB,Albania,1987,All,Age all,[All],22.0,0.126977,1.036609,0.715191
1,EU,Europe,ALB,Albania,1987,All,00,[0],0.0,0.000000,NaN,0.000000
2,EU,Europe,ALB,Albania,1987,All,01_04,[1-4],0.0,0.000000,NaN,0.000000
3,EU,Europe,ALB,Albania,1987,All,05_09,[5-9],0.0,0.000000,NaN,0.000000
4,EU,Europe,ALB,Albania,1987,All,10_14,[10-14],0.0,0.000000,NaN,0.000000

In [13]:
# #drop "age group code" column
del WHO_df['Age Group']
WHO_df.head()

,Region Code,Region Name,Country Code,Country Name,Year,Sex,Age group code,Number,Percentage of cause-specific deaths out of total deaths,Age-standardized death rate per 100 000 standard population,Death rate per 100 000 population
0,EU,Europe,ALB,Albania,1987,All,Age all,22.0,0.126977,1.036609,0.715191
1,EU,Europe,ALB,Albania,1987,All,00,0.0,0.000000,NaN,0.000000
2,EU,Europe,ALB,Albania,1987,All,01_04,0.0,0.000000,NaN,0.000000
3,EU,Europe,ALB,Albania,1987,All,05_09,0.0,0.000000,NaN,0.000000
4,EU,Europe,ALB,Albania,1987,All,10_14,0.0,0.000000,NaN,0.000000

In [15]:
# #export csv
WHO_df.to_csv('Cleaned Datasets/WHO_df.csv')

# AIHW Dataset
## Cancer incidence counts and age-standardised rates, by sex and state and territory, 1982 to 2019

In [16]:
#import AIHW dataset
import pandas as pd
excel_file_path ='Master_Folder/AIHW_Data/aihw-can-122-CDiA-2023-Book-7-Cancer-incidence-by-state-and-territory.xlsx'
sheet_name = 'Table S7.1'
AIHW_df = pd.read_excel(excel_file_path, sheet_name=sheet_name, skiprows=5)
AIHW_df.head()

,Data type,Cancer group/site,Year,Sex,State or Territory,Count,"Age-standardised rate\n2001 Australian Standard Population \n(per 100,000)","Age-standardised rate\n2023 Australian population \n(per 100,000)",Unnamed: 8,ICD-10 codes
0,Incidence,Acute lymphoblastic leukaemia,1982.0,Males,New South Wales,54,1.9,1.8,,C91.0
1,Incidence,Acute lymphoblastic leukaemia,1982.0,Males,Victoria,31,1.4,1.4,,C91.0
2,Incidence,Acute lymphoblastic leukaemia,1982.0,Males,Queensland,20,1.4,1.3,,C91.0
3,Incidence,Acute lymphoblastic leukaemia,1982.0,Males,Western Australia,4,n.p.,n.p.,,C91.0
4,Incidence,Acute lymphoblastic leukaemia,1982.0,Males,South Australia,17,2.4,2.5,,C91.0

In [17]:
#filter only melanoma cancer group
AIHW_df = AIHW_df[AIHW_df['Cancer group/site'].isin(['Melanoma of the skin', 'Non-melanoma skin cancer (rare types)'])]
AIHW_df = AIHW_df.reset_index(drop=True)
AIHW_df.head()

,Data type,Cancer group/site,Year,Sex,State or Territory,Count,"Age-standardised rate\n2001 Australian Standard Population \n(per 100,000)","Age-standardised rate\n2023 Australian population \n(per 100,000)",Unnamed: 8,ICD-10 codes
0,Incidence,Melanoma of the skin,1982.0,Males,New South Wales,650,28.9,33.1,,C43
1,Incidence,Melanoma of the skin,1982.0,Males,Victoria,279,16.8,19.2,,C43
2,Incidence,Melanoma of the skin,1982.0,Males,Queensland,472,49.3,56.9,,C43
3,Incidence,Melanoma of the skin,1982.0,Males,Western Australia,164,31.1,35.6,,C43
4,Incidence,Melanoma of the skin,1982.0,Males,South Australia,121,21.4,23.1,,C43

In [18]:
AIHW_df.shape

(1539, 10)

In [24]:
AIHW_df.dtypes

Data type                                                                      object
Cancer group/site                                                              object
Year                                                                          float64
Sex                                                                            object
State or Territory                                                             object
Count                                                                          object
Age-standardised rate\n2001 Australian Standard Population \n(per 100,000)     object
Age-standardised rate\n2023 Australian population \n(per 100,000)              object
Unnamed: 8                                                                     object
ICD-10 codes                                                                   object
dtype: object

In [19]:
#check for null values
AIHW_df.count()

Data type                                                                     1539
Cancer group/site                                                             1539
Year                                                                          1539
Sex                                                                           1539
State or Territory                                                            1539
Count                                                                         1539
Age-standardised rate\n2001 Australian Standard Population \n(per 100,000)    1539
Age-standardised rate\n2023 Australian population \n(per 100,000)             1539
Unnamed: 8                                                                    1539
ICD-10 codes                                                                  1539
dtype: int64

In [20]:
#import csv
AIHW_df.to_csv('Cleaned Datasets/AIHW_df.csv')

## Cancer incidence counts, age-specific rates, age-standardised rates (2001 Australian Standard Population, 2023 Australian population, WHO and Segi populations), by sex, age group, actual data from 1982 to 2019 and projections to 2023

In [31]:
#import AIHW dataset
import pandas as pd
excel_file_path ='Master_Folder/AIHW_Data/aihw-can-122-CDiA-2023-Book-1a-Cancer-incidence-age-standardised-rates-5-year-age-groups.xlsx'
sheet_name = 'Table S1a.1'
AIHW_cancer_incidence_df = pd.read_excel(excel_file_path, sheet_name=sheet_name, skiprows=5)
AIHW_cancer_incidence_df.head()

,Data type,Cancer group/site,Year,Sex,Age group (years),Count,"Age-specific rate\n(per 100,000)","Age-standardised rate\n2001 Australian Standard Population (per 100,000)","Age-standardised rate\n2023 Australian population \n(per 100,000)","Age-standardised rate\n (WHO) (per 100,000)","Age-standardised rate\n (Segi) (per 100,000)",Unnamed: 11,ICD10 codes
0,Actual,Acute lymphoblastic leukaemia,1982.0,Males,00–04,42.0,7.1,. .,. .,. .,. .,,C91.0
1,Actual,Acute lymphoblastic leukaemia,1982.0,Males,05–09,25.0,4.0,. .,. .,. .,. .,,C91.0
2,Actual,Acute lymphoblastic leukaemia,1982.0,Males,10–14,14.0,2.0,. .,. .,. .,. .,,C91.0
3,Actual,Acute lymphoblastic leukaemia,1982.0,Males,15–19,14.0,2.1,. .,. .,. .,. .,,C91.0
4,Actual,Acute lymphoblastic leukaemia,1982.0,Males,20–24,5.0,0.7,. .,. .,. .,. .,,C91.0

In [32]:
#filter only melanoma cancer group
AIHW_cancer_incidence_df = AIHW_cancer_incidence_df[AIHW_cancer_incidence_df['Cancer group/site'].isin(['Melanoma of the skin', 'Non-melanoma skin cancer (rare types)'])]
AIHW_cancer_incidence_df = AIHW_cancer_incidence_df.reset_index(drop=True)
AIHW_cancer_incidence_df.head()

,Data type,Cancer group/site,Year,Sex,Age group (years),Count,"Age-specific rate\n(per 100,000)","Age-standardised rate\n2001 Australian Standard Population (per 100,000)","Age-standardised rate\n2023 Australian population \n(per 100,000)","Age-standardised rate\n (WHO) (per 100,000)","Age-standardised rate\n (Segi) (per 100,000)",Unnamed: 11,ICD10 codes
0,Actual,Melanoma of the skin,1982.0,Males,00–04,0.0,0.0,. .,. .,. .,. .,,C43
1,Actual,Melanoma of the skin,1982.0,Males,05–09,0.0,0.0,. .,. .,. .,. .,,C43
2,Actual,Melanoma of the skin,1982.0,Males,10–14,6.0,0.9,. .,. .,. .,. .,,C43
3,Actual,Melanoma of the skin,1982.0,Males,15–19,30.0,4.6,. .,. .,. .,. .,,C43
4,Actual,Melanoma of the skin,1982.0,Males,20–24,52.0,7.7,. .,. .,. .,. .,,C43

In [36]:
AIHW_cancer_incidence_df.columns

Index(['Data type', 'Cancer group/site', 'Year', 'Sex', 'Age group (years)',
       'Count', 'Age-specific rate\n(per 100,000)',
       'Age-standardised rate\n2001 Australian Standard Population (per 100,000)',
       'Age-standardised rate\n2023 Australian population \n(per 100,000)',
       'Age-standardised rate\n (WHO) (per 100,000)',
       'Age-standardised rate\n (Segi) (per 100,000)', 'ICD10 codes'],
      dtype='object')

In [33]:
AIHW_cancer_incidence_df.shape

(3900, 13)

In [34]:
#change data type for year
AIHW_cancer_incidence_df['Year'] = AIHW_cancer_incidence_df['Year'].astype(int)
display(AIHW_cancer_incidence_df.dtypes)

Data type                                                                    object
Cancer group/site                                                            object
Year                                                                          int32
Sex                                                                          object
Age group (years)                                                            object
Count                                                                       float64
Age-specific rate\n(per 100,000)                                            float64
Age-standardised rate\n2001 Australian Standard Population (per 100,000)     object
Age-standardised rate\n2023 Australian population \n(per 100,000)            object
Age-standardised rate\n (WHO) (per 100,000)                                  object
Age-standardised rate\n (Segi) (per 100,000)                                 object
Unnamed: 11                                                                  object
ICD10 codes                                                                  object
dtype: object

In [35]:
# delete "unnamed" column
del AIHW_cancer_incidence_df['Unnamed: 11']

In [55]:
AIHW_cancer_incidence_df['Age group (years)'] = AIHW_cancer_incidence_df['Age group (years)'].str.replace('–', '_')

In [56]:
AIHW_cancer_incidence_df.head()

,Data type,Cancer group/site,Year,Sex,Age group (years),Count,"Age-specific rate\n(per 100,000)","Age-standardised rate\n2001 Australian Standard Population (per 100,000)","Age-standardised rate\n2023 Australian population \n(per 100,000)","Age-standardised rate\n (WHO) (per 100,000)","Age-standardised rate\n (Segi) (per 100,000)",ICD10 codes
0,Actual,Melanoma of the skin,1982,Males,00_04,0.0,0.0,. .,. .,. .,. .,C43
1,Actual,Melanoma of the skin,1982,Males,05_09,0.0,0.0,. .,. .,. .,. .,C43
2,Actual,Melanoma of the skin,1982,Males,10_14,6.0,0.9,. .,. .,. .,. .,C43
3,Actual,Melanoma of the skin,1982,Males,15_19,30.0,4.6,. .,. .,. .,. .,C43
4,Actual,Melanoma of the skin,1982,Males,20_24,52.0,7.7,. .,. .,. .,. .,C43

In [57]:
#import csv
AIHW_cancer_incidence_df.to_csv('Cleaned Datasets/AIHW_cancer_incidence_df.csv')

## aihw-can-122-cancer-data-commentaries

In [29]:
#import AIHW dataset
import pandas as pd
excel_file_path ='Master_Folder/AIHW_Data/aihw-can-122-cancer-data-commentaries.xlsx'
sheet_name = 'Table S4'
AIHW_cancer_risk_df = pd.read_excel(excel_file_path, sheet_name=sheet_name, skiprows=2, nrows=79)
AIHW_cancer_risk_df.head()

,Year,Sex,Age range (years),Risk of diagnosis (%),Risk of diagnosis (1 in X),Unnamed: 5,Risk of death (%),Risk of death (1 in X),Unnamed: 8,ICD10 codes,Unnamed: 10,Background data:\nCumulative number of\n people diagnosed,Background data:\nCumulative number of\n deaths
0,1982,Males,Lifetime,0.021094,47,,0.004927,203,,C43,,1738,380
1,1983,Males,Lifetime,0.022366,45,,0.004785,209,,C43,,1819,362
2,1984,Males,Lifetime,0.024349,41,,0.005136,195,,C43,,1993,397
3,1985,Males,Lifetime,0.026498,38,,0.005188,193,,C43,,2218,403
4,1986,Males,Lifetime,0.028470,35,,0.005621,178,,C43,,2403,418

In [30]:
AIHW_cancer_risk_df.columns

Index(['Year', 'Sex', 'Age range (years)', 'Risk of diagnosis (%)',
       'Risk of diagnosis (1 in X)', 'Unnamed: 5', 'Risk of death (%)',
       'Risk of death (1 in X)', 'Unnamed: 8', 'ICD10 codes', 'Unnamed: 10',
       'Background data:\nCumulative number of\n people diagnosed',
       'Background data:\nCumulative number of\n deaths'],
      dtype='object')

In [31]:
#delete unnamed columns
AIHW_cancer_risk_df = AIHW_cancer_risk_df.drop(columns = ['Unnamed: 5', 'Unnamed: 8', 'Unnamed: 10'])

In [32]:
#rename columns
AIHW_cancer_risk_df = AIHW_cancer_risk_df.rename(columns = 
                                                 {'Background data:\nCumulative number of\n people diagnosed' : "Cumulative number of people diagnosed" , 
                                                  'Background data:\nCumulative number of\n deaths' : 'Cumulative number of deaths'}
                                                )

In [33]:
AIHW_cancer_risk_df.head()

,Year,Sex,Age range (years),Risk of diagnosis (%),Risk of diagnosis (1 in X),Risk of death (%),Risk of death (1 in X),ICD10 codes,Cumulative number of people diagnosed,Cumulative number of deaths
0,1982,Males,Lifetime,0.021094,47,0.004927,203,C43,1738,380
1,1983,Males,Lifetime,0.022366,45,0.004785,209,C43,1819,362
2,1984,Males,Lifetime,0.024349,41,0.005136,195,C43,1993,397
3,1985,Males,Lifetime,0.026498,38,0.005188,193,C43,2218,403
4,1986,Males,Lifetime,0.028470,35,0.005621,178,C43,2403,418

In [34]:
AIHW_cancer_risk_df.dtypes

Year                                       int64
Sex                                       object
Age range (years)                         object
Risk of diagnosis (%)                    float64
Risk of diagnosis (1 in X)                 int64
Risk of death (%)                        float64
Risk of death (1 in X)                     int64
ICD10 codes                               object
Cumulative number of people diagnosed      int64
Cumulative number of deaths                int64
dtype: object

In [36]:
#change data type for year
AIHW_cancer_risk_df[['Year', 'Cumulative number of people diagnosed', 'Cumulative number of deaths']] = AIHW_cancer_risk_df[['Year', 'Cumulative number of people diagnosed', 'Cumulative number of deaths']].astype(int)

In [37]:
AIHW_cancer_risk_df.dtypes

Year                                       int32
Sex                                       object
Age range (years)                         object
Risk of diagnosis (%)                    float64
Risk of diagnosis (1 in X)                 int64
Risk of death (%)                        float64
Risk of death (1 in X)                     int64
ICD10 codes                               object
Cumulative number of people diagnosed      int32
Cumulative number of deaths                int32
dtype: object

In [38]:
#import csv
AIHW_cancer_risk_df.to_csv('Cleaned Datasets/AIHW_cancer_risk_df.csv')

Importing libraries

In [ ]:
import pandas as pd, kaggle, requests

Data Download  from "DATA.GOV.AU" through API

In [ ]:
data_df = requests.get("https://data.gov.au/data/api/3/action/package_show?id=488ef6d4-c763-4b24-b8fb-9c15b67ece19").json()

In [ ]:
aihw_data_df = requests.get("https://data.gov.au/data/api/3/action/package_show?id=05696f6f-6ff5-42a2-904f-af5e4d1f56f8").json()

In [ ]:
url = data_df['result']['resources'][0]['url']

aihw_url = aihw_data_df['result']['resources']

In [ ]:
csv = []
for i in range(0, len(aihw_url)):
    csv.append(aihw_url[i]['url'])

In [ ]:
open('Project_Datasets/AIHW_Data/General Record of Incidence of Mortality.csv', 'wb').write(requests.get(url).content)

open('Project_Datasets/AIHW_Data/ACIM Combined Counts.csv', 'wb').write(requests.get(csv[0]).content)

open('Project_Datasets/AIHW_Data/ACIM Combined Rates.csv', 'wb').write(requests.get(csv[1]).content)

open('Project_Datasets/AIHW_Data/ACIM Combined Ratio.csv', 'wb').write(requests.get(csv[2]).content)

In [ ]:
ISIC_data = pd.read_json('Project_Datasets/GCO_Dataset.json')

ISIC_data.to_csv('Project_Datasets/WHO_Data/GCO_Dataset.csv', index=False)

Data Cleaning

In [ ]:
projected = pd.read_csv('Project_Datasets/WHO_Data/GCO_Dataset.csv').drop(columns=['population', 'risk', 'type', 'sex', 'id', 'cancer', 'APC', 'cases_base'])

In [ ]:
projected.rename(
    columns={'year': 'Year', 'id_label': 'Country', 'cancer_label': 'Cancer_Type', 'cases_pred': "Predicted_Cases",
             'pop': 'Population', 'change': 'Predicted_Increase',
             'percent': 'Predicted_Percentage_Change'}).to_csv('Cleaned Datasets/GCO_Pred_Data.csv', index=False)

In [ ]:
WHO_data = pd.read_csv(
    'Project_Datasets/WHO_Data/WHOMortalityDatabase_Map_Melanoma and other skin cancers_19th December 2023 23 15.csv',
    skiprows=6, index_col=False)

In [ ]:
WHO_data = WHO_data.drop(columns=['Region Code', 'Region Name', 'Country Code', 'Age group code']).fillna(0).replace(
    "T?rkiye", "Turkey")

In [ ]:
WHO_data['Age Group'] = WHO_data['Age Group'].str.strip('[]')

In [ ]:
WHO_data.to_csv("Cleaned Datasets/WHO_Dataset.csv", index=False)

In [ ]:
GRIM_data = pd.read_excel('Project_Datasets/AIHW_Data/General Record of Incidence of Mortality.xlsx')

In [ ]:
grim_df = GRIM_data.drop(columns=['grim']).fillna(0).replace(["Missing", "Total", "Skin cancer (ICD-10 C43, C44)"],
                                                             ["Unknown", "All", "Skin Cancer"])

In [ ]:
grim_df = grim_df[grim_df['cause_of_death'].isin(['Skin Cancer'])].rename(columns={'cause_of_death': 'Cause of '
                                                                                                     'Mortality'})

In [ ]:
grim_df.to_excel('Cleaned Datasets/GRIM_Mortality_Data.xlsx', index=False)

In [ ]:
Cancer_data = pd.read_excel('Project_Datasets/AIHW_Data/aihw-can-122-cancer-data-commentaries.xlsx',
                            sheet_name='Table S4', skiprows=2, nrows=79)

In [ ]:
Cancer_data = Cancer_data.drop(
    columns=['Age range (years)', 'Unnamed: 5', 'Unnamed: 8', 'ICD10 codes', 'Unnamed: 10']).rename(
    columns={'Background data:\nCumulative number of\n people diagnosed': 'Cumulative number of people diagnosed',
             'Background data:\nCumulative number of\n deaths': 'Cumulative number of deaths'})

In [ ]:
Cancer_data.to_excel('Cleaned Datasets/AIHW_Cancer_Commentaries.xlsx', index=False)

Downloading Datasets from Kaggle

In [ ]:
#!pip install kaggle

In [ ]:
#kaggle.api.authenticate()

In [ ]:
# kaggle.api.dataset_download_files('bhanuprasanna/isic-2019', path='Project_Datasets/', unzip=True)

In [ ]:
# kaggle.api.dataset_download_files('andrewmvd/isic-2019', path='Project_Datasets/', unzip=True)