In [6]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
data_to_load = Path("WHO_Data/WHOMortalityDatabase_Map_a. Malignant skin melanoma_19th December 2023 23 17.csv")

data = pd.read_csv(data_to_load, skiprows=6)


#Combine the data into a single dataset.  
#school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
#school_summary.set_index('Student ID', inplace=True)

data

,Region Code,Region Name,Country Code,Country Name,Year,Sex,Age group code,Age Group,Number,Percentage of cause-specific deaths out of total deaths,Age-standardized death rate per 100 000 standard population,Death rate per 100 000 population
EU,Europe,ALB,Albania,1987,All,Age_all,[All],22.0,0.126977,1.036609,0.715191,NaN
EU,Europe,ALB,Albania,1987,All,Age00,[0],0.0,0.000000,NaN,0.000000,NaN
EU,Europe,ALB,Albania,1987,All,Age01_04,[1-4],0.0,0.000000,NaN,0.000000,NaN
EU,Europe,ALB,Albania,1987,All,Age05_09,[5-9],0.0,0.000000,NaN,0.000000,NaN
EU,Europe,ALB,Albania,1987,All,Age10_14,[10-14],0.0,0.000000,NaN,0.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
AF,Africa,ZAF,South Africa,2015,Female,Age70_74,[70-74],16.0,0.102512,NaN,3.340592,NaN
AF,Africa,ZAF,South Africa,2015,Female,Age75_79,[75-79],13.0,0.074269,NaN,4.044804,NaN
AF,Africa,ZAF,South Africa,2015,Female,Age80_84,[80-84],16.0,0.100288,NaN,9.174312,NaN
AF,Africa,ZAF,South Africa,2015,Female,Age85_over,[85+],20.0,0.078052,NaN,27.331365,NaN
AF,Africa,ZAF,South Africa,2015,Female,Age_unknown,[Unknown],0.0,0.000000,NaN,NaN,NaN