# WHO Data Set

In [1]:
#import WHO dataset
import pandas as pd
WHO_df = pd.read_csv('WHO_Data/WHOMortalityDatabase_Map_a. Malignant skin melanoma_19th December 2023 23 17.csv', skiprows = 5, index_col=False)
WHO_df.head()

,Region Code,Region Name,Country Code,Country Name,Year,Sex,Age group code,Age Group,Number,Percentage of cause-specific deaths out of total deaths,Age-standardized death rate per 100 000 standard population,Death rate per 100 000 population
0,EU,Europe,ALB,Albania,1987,All,Age_all,[All],22.0,0.126977,1.036609,0.715191
1,EU,Europe,ALB,Albania,1987,All,Age00,[0],0.0,0.000000,NaN,0.000000
2,EU,Europe,ALB,Albania,1987,All,Age01_04,[1-4],0.0,0.000000,NaN,0.000000
3,EU,Europe,ALB,Albania,1987,All,Age05_09,[5-9],0.0,0.000000,NaN,0.000000
4,EU,Europe,ALB,Albania,1987,All,Age10_14,[10-14],0.0,0.000000,NaN,0.000000

In [2]:
WHO_df.columns

Index(['Region Code', 'Region Name', 'Country Code', 'Country Name', 'Year',
       'Sex', 'Age group code', 'Age Group', 'Number',
       'Percentage of cause-specific deaths out of total deaths',
       'Age-standardized death rate per 100 000 standard population',
       'Death rate per 100 000 population'],
      dtype='object')

In [3]:
#data type for each column
WHO_df.dtypes

Region Code                                                     object
Region Name                                                     object
Country Code                                                    object
Country Name                                                    object
Year                                                             int64
Sex                                                             object
Age group code                                                  object
Age Group                                                       object
Number                                                         float64
Percentage of cause-specific deaths out of total deaths        float64
Age-standardized death rate per 100 000 standard population    float64
Death rate per 100 000 population                              float64
dtype: object

In [4]:
#check for null values
WHO_df.count()

Region Code                                                    183036
Region Name                                                    183036
Country Code                                                   183036
Country Name                                                   183036
Year                                                           183036
Sex                                                            183036
Age group code                                                 183036
Age Group                                                      183036
Number                                                         182340
Percentage of cause-specific deaths out of total deaths        177031
Age-standardized death rate per 100 000 standard population      8580
Death rate per 100 000 population                              170424
dtype: int64

In [5]:
#list columns with null values
WHO_df.columns[WHO_df.isna().any()].tolist()

['Number',
 'Percentage of cause-specific deaths out of total deaths',
 'Age-standardized death rate per 100 000 standard population',
 'Death rate per 100 000 population']

In [6]:
WHO_df.loc[:, WHO_df.isna().any()]

,Number,Percentage of cause-specific deaths out of total deaths,Age-standardized death rate per 100 000 standard population,Death rate per 100 000 population
0,22.0,0.126977,1.036609,0.715191
1,0.0,0.000000,NaN,0.000000
2,0.0,0.000000,NaN,0.000000
3,0.0,0.000000,NaN,0.000000
4,0.0,0.000000,NaN,0.000000
...,...,...,...,...
183031,16.0,0.102512,NaN,3.340592
183032,13.0,0.074269,NaN,4.044804
183033,16.0,0.100288,NaN,9.174312
183034,20.0,0.078052,NaN,27.331365
183035,0.0,0.000000,NaN,NaN

In [7]:
#drop column include null values
WHO_df.dropna(subset = ['Number', 'Percentage of cause-specific deaths out of total deaths', 'Death rate per 100 000 population'], inplace=True)

In [8]:
#conform whether null values are drop
WHO_df.count()

Region Code                                                    170156
Region Name                                                    170156
Country Code                                                   170156
Country Name                                                   170156
Year                                                           170156
Sex                                                            170156
Age group code                                                 170156
Age Group                                                      170156
Number                                                         170156
Percentage of cause-specific deaths out of total deaths        170156
Age-standardized death rate per 100 000 standard population      8580
Death rate per 100 000 population                              170156
dtype: int64

In [9]:
#check unique countries
WHO_df["Country Name"].unique().tolist()

['Albania',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Bosnia and Herzegovina',
 'Brazil',
 'Brunei Darussalam',
 'Bulgaria',
 'Cabo Verde',
 'Canada',
 'Chile',
 'Colombia',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czechia',
 'Denmark',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Estonia',
 'Fiji',
 'Finland',
 'France',
 'French Guiana',
 'Georgia',
 'Germany',
 'Greece',
 'Grenada',
 'Guadeloupe',
 'Guatemala',
 'Guyana',
 'China, Hong Kong SAR',
 'Hungary',
 'Iceland',
 'Iran (Islamic Republic of)',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Kazakhstan',
 'Republic of Korea',
 'Kuwait',
 'Kyrgyzstan',
 'Latvia',
 'Lithuania',
 'Luxembourg',
 'Maldives',
 'Malta',
 'Martinique',
 'Mauritius',
 'Mayotte',
 'Mexico',
 'Republic of Moldova',
 'Mongolia',
 'Montenegro',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'North Macedonia',
 'Norway',
 'Panama',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'R?union',
 'Romania',
 'Russian Federation',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Sao Tome and Principe',
 'Serbia',
 'Seychelles',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'South Africa',
 'Spain',
 'Sri Lanka',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Thailand',
 'Trinidad and Tobago',
 'T?rkiye',
 'Turkmenistan',
 'Ukraine',
 'United Kingdom of Great Britain and Northern Ireland',
 'United States of America',
 'Uruguay',
 'Uzbekistan',
 'Venezuela (Bolivarian Republic of)',
 'Jordan',
 'United Arab Emirates',
 'Lebanon',
 'Malaysia',
 'Oman',
 'Qatar',
 'Tajikistan']

In [10]:
#replace "T?rkiye" with Turkey
WHO_df = WHO_df.replace("T?rkiye", "Turkey")
WHO_df["Country Name"].unique().tolist()

['Albania',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Bosnia and Herzegovina',
 'Brazil',
 'Brunei Darussalam',
 'Bulgaria',
 'Cabo Verde',
 'Canada',
 'Chile',
 'Colombia',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czechia',
 'Denmark',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Estonia',
 'Fiji',
 'Finland',
 'France',
 'French Guiana',
 'Georgia',
 'Germany',
 'Greece',
 'Grenada',
 'Guadeloupe',
 'Guatemala',
 'Guyana',
 'China, Hong Kong SAR',
 'Hungary',
 'Iceland',
 'Iran (Islamic Republic of)',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Kazakhstan',
 'Republic of Korea',
 'Kuwait',
 'Kyrgyzstan',
 'Latvia',
 'Lithuania',
 'Luxembourg',
 'Maldives',
 'Malta',
 'Martinique',
 'Mauritius',
 'Mayotte',
 'Mexico',
 'Republic of Moldova',
 'Mongolia',
 'Montenegro',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'North Macedonia',
 'Norway',
 'Panama',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'R?union',
 'Romania',
 'Russian Federation',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Sao Tome and Principe',
 'Serbia',
 'Seychelles',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'South Africa',
 'Spain',
 'Sri Lanka',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Thailand',
 'Trinidad and Tobago',
 'Turkey',
 'Turkmenistan',
 'Ukraine',
 'United Kingdom of Great Britain and Northern Ireland',
 'United States of America',
 'Uruguay',
 'Uzbekistan',
 'Venezuela (Bolivarian Republic of)',
 'Jordan',
 'United Arab Emirates',
 'Lebanon',
 'Malaysia',
 'Oman',
 'Qatar',
 'Tajikistan']

In [11]:
# #remove square bracket from "age group" column
# WHO_df['Age Group'] = WHO_df['Age Group'].str.strip('[]')
# WHO_df.head()

In [12]:
WHO_df['Age group code'] = WHO_df['Age group code'].str.replace('Age','')
WHO_df['Age group code'] = WHO_df['Age group code'].str.replace('_all','Age all')
WHO_df.head()

,Region Code,Region Name,Country Code,Country Name,Year,Sex,Age group code,Age Group,Number,Percentage of cause-specific deaths out of total deaths,Age-standardized death rate per 100 000 standard population,Death rate per 100 000 population
0,EU,Europe,ALB,Albania,1987,All,Age all,[All],22.0,0.126977,1.036609,0.715191
1,EU,Europe,ALB,Albania,1987,All,00,[0],0.0,0.000000,NaN,0.000000
2,EU,Europe,ALB,Albania,1987,All,01_04,[1-4],0.0,0.000000,NaN,0.000000
3,EU,Europe,ALB,Albania,1987,All,05_09,[5-9],0.0,0.000000,NaN,0.000000
4,EU,Europe,ALB,Albania,1987,All,10_14,[10-14],0.0,0.000000,NaN,0.000000

In [13]:
# #drop "age group code" column
del WHO_df['Age Group']
WHO_df.head()

,Region Code,Region Name,Country Code,Country Name,Year,Sex,Age group code,Number,Percentage of cause-specific deaths out of total deaths,Age-standardized death rate per 100 000 standard population,Death rate per 100 000 population
0,EU,Europe,ALB,Albania,1987,All,Age all,22.0,0.126977,1.036609,0.715191
1,EU,Europe,ALB,Albania,1987,All,00,0.0,0.000000,NaN,0.000000
2,EU,Europe,ALB,Albania,1987,All,01_04,0.0,0.000000,NaN,0.000000
3,EU,Europe,ALB,Albania,1987,All,05_09,0.0,0.000000,NaN,0.000000
4,EU,Europe,ALB,Albania,1987,All,10_14,0.0,0.000000,NaN,0.000000

In [14]:
# #export csv
WHO_df.to_csv('Cleaned Datasets/WHO_df.csv')