# WHO Data Set

In [ ]:
#import WHO dataset
import pandas as pd
WHO_df = pd.read_csv('WHO_Data/WHOMortalityDatabase_Map_a. Malignant skin melanoma_19th December 2023 23 17.csv', skiprows = 5, index_col=False)
WHO_df.head()

In [ ]:
WHO_df.columns

In [ ]:
#data type for each column
WHO_df.dtypes

In [ ]:
#check for null values
WHO_df.count()

In [ ]:
#list columns with null values
WHO_df.columns[WHO_df.isna().any()].tolist()

In [ ]:
WHO_df.loc[:, WHO_df.isna().any()]

In [ ]:
#drop column include null values
WHO_df.dropna(subset = ['Number', 'Percentage of cause-specific deaths out of total deaths', 'Death rate per 100 000 population'], inplace=True)

In [ ]:
#conform whether null values are drop
WHO_df.count()

In [ ]:
#check unique countries
WHO_df["Country Name"].unique().tolist()

In [ ]:
#replace "T?rkiye" with Turkey
WHO_df = WHO_df.replace("T?rkiye", "Turkey")
WHO_df["Country Name"].unique().tolist()

In [ ]:
# #remove square bracket from "age group" column
# WHO_df['Age Group'] = WHO_df['Age Group'].str.strip('[]')
# WHO_df.head()

In [ ]:
WHO_df['Age group code'] = WHO_df['Age group code'].str.replace('Age','')
WHO_df['Age group code'] = WHO_df['Age group code'].str.replace('_all','Age all')
WHO_df.head()

In [ ]:
# #drop "age group code" column
del WHO_df['Age Group']
WHO_df.head()

In [ ]:
# #export csv
WHO_df.to_csv('Cleaned Datasets/WHO_df.csv')

# AIHW Datset
## Cancer incidence counts and age-standardised rates, by sex and state and territory, 1982 to 2019

In [2]:
#import AIHW dataset
import pandas as pd
excel_file_path ='AIHW_Data/aihw-can-122-CDiA-2023-Book-7-Cancer-incidence-by-state-and-territory.xlsx'
sheet_name = 'Table S7.1'
AIHW_df = pd.read_excel(excel_file_path, sheet_name=sheet_name, skiprows=5)
AIHW_df.head()

,Data type,Cancer group/site,Year,Sex,State or Territory,Count,"Age-standardised rate\n2001 Australian Standard Population \n(per 100,000)","Age-standardised rate\n2023 Australian population \n(per 100,000)",Unnamed: 8,ICD-10 codes
0,Incidence,Acute lymphoblastic leukaemia,1982.0,Males,New South Wales,54,1.9,1.8,,C91.0
1,Incidence,Acute lymphoblastic leukaemia,1982.0,Males,Victoria,31,1.4,1.4,,C91.0
2,Incidence,Acute lymphoblastic leukaemia,1982.0,Males,Queensland,20,1.4,1.3,,C91.0
3,Incidence,Acute lymphoblastic leukaemia,1982.0,Males,Western Australia,4,n.p.,n.p.,,C91.0
4,Incidence,Acute lymphoblastic leukaemia,1982.0,Males,South Australia,17,2.4,2.5,,C91.0

In [3]:
AIHW_df = AIHW_df[AIHW_df['Cancer group/site'].isin(['Melanoma of the skin', 'Non-melanoma skin cancer (rare types)'])]
AIHW_df = AIHW_df.reset_index(drop=True)
AIHW_df.head()

,Data type,Cancer group/site,Year,Sex,State or Territory,Count,"Age-standardised rate\n2001 Australian Standard Population \n(per 100,000)","Age-standardised rate\n2023 Australian population \n(per 100,000)",Unnamed: 8,ICD-10 codes
0,Incidence,Melanoma of the skin,1982.0,Males,New South Wales,650,28.9,33.1,,C43
1,Incidence,Melanoma of the skin,1982.0,Males,Victoria,279,16.8,19.2,,C43
2,Incidence,Melanoma of the skin,1982.0,Males,Queensland,472,49.3,56.9,,C43
3,Incidence,Melanoma of the skin,1982.0,Males,Western Australia,164,31.1,35.6,,C43
4,Incidence,Melanoma of the skin,1982.0,Males,South Australia,121,21.4,23.1,,C43

In [4]:
AIHW_df.shape

(1539, 10)

In [5]:
#check for null values
AIHW_df.count()

Data type                                                                     1539
Cancer group/site                                                             1539
Year                                                                          1539
Sex                                                                           1539
State or Territory                                                            1539
Count                                                                         1539
Age-standardised rate\n2001 Australian Standard Population \n(per 100,000)    1539
Age-standardised rate\n2023 Australian population \n(per 100,000)             1539
Unnamed: 8                                                                    1539
ICD-10 codes                                                                  1539
dtype: int64

In [6]:
#import csv
AIHW_df.to_csv('Cleaned Datasets/AIHW_df.csv')