# WHO Data Set

In [26]:
#import WHO dataset
import pandas as pd
WHO_df = pd.read_csv('WHO_Data/WHOMortalityDatabase_Map_a. Malignant skin melanoma_19th December 2023 23 17.csv', skiprows = 5, index_col=False)
# headers = ["Region Code", "Region Name", "Country Code", "Country Name", "Year", "Sex", "Age group code", "Age Group", "Number", "Percentage of cause-specific deaths out of total deaths", 
#            "Age-standardized death rate per 100 000 standard population", "Death rate per 100 000 population"]
WHO_df.head()

,Region Code,Region Name,Country Code,Country Name,Year,Sex,Age group code,Age Group,Number,Percentage of cause-specific deaths out of total deaths,Age-standardized death rate per 100 000 standard population,Death rate per 100 000 population
0,EU,Europe,ALB,Albania,1987,All,Age_all,[All],22.0,0.126977,1.036609,0.715191
1,EU,Europe,ALB,Albania,1987,All,Age00,[0],0.0,0.000000,NaN,0.000000
2,EU,Europe,ALB,Albania,1987,All,Age01_04,[1-4],0.0,0.000000,NaN,0.000000
3,EU,Europe,ALB,Albania,1987,All,Age05_09,[5-9],0.0,0.000000,NaN,0.000000
4,EU,Europe,ALB,Albania,1987,All,Age10_14,[10-14],0.0,0.000000,NaN,0.000000

In [28]:
WHO_df.columns

Index(['Region Code', 'Region Name', 'Country Code', 'Country Name', 'Year',
       'Sex', 'Age group code', 'Age Group', 'Number',
       'Percentage of cause-specific deaths out of total deaths',
       'Age-standardized death rate per 100 000 standard population',
       'Death rate per 100 000 population'],
      dtype='object')

In [29]:
#data type for each column
WHO_df.dtypes

Region Code                                                     object
Region Name                                                     object
Country Code                                                    object
Country Name                                                    object
Year                                                             int64
Sex                                                             object
Age group code                                                  object
Age Group                                                       object
Number                                                         float64
Percentage of cause-specific deaths out of total deaths        float64
Age-standardized death rate per 100 000 standard population    float64
Death rate per 100 000 population                              float64
dtype: object

In [30]:
#check for null values
WHO_df.count()

Region Code                                                    183036
Region Name                                                    183036
Country Code                                                   183036
Country Name                                                   183036
Year                                                           183036
Sex                                                            183036
Age group code                                                 183036
Age Group                                                      183036
Number                                                         182340
Percentage of cause-specific deaths out of total deaths        177031
Age-standardized death rate per 100 000 standard population      8580
Death rate per 100 000 population                              170424
dtype: int64

In [32]:
#list columns with null values
WHO_df.columns[WHO_df.isna().any()].tolist()

['Number',
 'Percentage of cause-specific deaths out of total deaths',
 'Age-standardized death rate per 100 000 standard population',
 'Death rate per 100 000 population']

In [33]:
WHO_df.loc[:, WHO_df.isna().any()]

,Number,Percentage of cause-specific deaths out of total deaths,Age-standardized death rate per 100 000 standard population,Death rate per 100 000 population
0,22.0,0.126977,1.036609,0.715191
1,0.0,0.000000,NaN,0.000000
2,0.0,0.000000,NaN,0.000000
3,0.0,0.000000,NaN,0.000000
4,0.0,0.000000,NaN,0.000000
...,...,...,...,...
183031,16.0,0.102512,NaN,3.340592
183032,13.0,0.074269,NaN,4.044804
183033,16.0,0.100288,NaN,9.174312
183034,20.0,0.078052,NaN,27.331365
183035,0.0,0.000000,NaN,NaN

In [34]:
#drop column include null values
WHO_df.dropna(subset = ['Number', 'Percentage of cause-specific deaths out of total deaths', 'Death rate per 100 000 population'], inplace=True)

In [35]:
#conform whether null values are drop
WHO_df.count()

Region Code                                                    170156
Region Name                                                    170156
Country Code                                                   170156
Country Name                                                   170156
Year                                                           170156
Sex                                                            170156
Age group code                                                 170156
Age Group                                                      170156
Number                                                         170156
Percentage of cause-specific deaths out of total deaths        170156
Age-standardized death rate per 100 000 standard population      8580
Death rate per 100 000 population                              170156
dtype: int64

In [39]:
#export csv
WHO_df.to_csv('Cleaned Datasets/WHO_df.csv')